    <?xml version="1.0" encoding="UTF-8"?>
    <!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
    <plist version="1.0">
    <dict>
        <key>Label</key>             <string>com.tinyapp.DBngin.mysqld-459973C1-297E-46D3-A875-B4EAC0582809</string>
        <key>ProcessType</key>       <string>Interactive</string>
        <key>Disabled</key>          <false/>
        <key>RunAtLoad</key>         <true/>
        <key>KeepAlive</key>         <true/>
        <key>SessionCreate</key>     <true/>
        <key>LaunchOnlyOnce</key>    <false/>
        <key>UserName</key>          <string>_mysql</string>
        <key>GroupName</key>         <string>_mysql</string>
        <key>ExitTimeOut</key>       <integer>600</integer>
        <key>Program</key>           <string>/Users/Shared/DBngin/mysql/8.0.33/bin/mysqld</string>
        <key>ProgramArguments</key>
            <array>
                <string>/Users/Shared/DBngin/mysql/8.0.33/bin/mysqld</string>
                <string>--disable-log-bin</string>
                <string>--socket=/tmp/mysql_3306.sock</string>
                <string>--user=_mysql</string>
                <string>--port=3306</string>
                <string>--basedir=/Users/Shared/DBngin/mysql/8.0.33</string>
                <string>--datadir=/Users/bryan/Desktop/workspace/4drandomiser/database</string>
                <string>--plugin-dir=/Users/Shared/DBngin/mysql/8.0.33/lib/plugin</string>
                <string>--log-error=/Users/bryan/Desktop/workspace/4drandomiser/database/mysqld.local.err</string>
                <string>--pid-file=/Users/bryan/Desktop/workspace/4drandomiser/database/mysql.pid</string>
            </array>
        <key>WorkingDirectory</key><string>/Users/bryan/Desktop/workspace/4drandomiser/database</string>
    </dict>
    </plist>